<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>Writer Example</title>
<link rel="stylesheet" type="text/css" href="/static/resources/css/ext-all.css" />
<script type="text/javascript" src="/static/ext-all.js"></script>
<script type="text/javascript" src="/static/writer.js"></script>
</head>
<body>
	<div id="csrf">{% csrf_token %}</div>
	<div id="windowDiv"></div>
</body>
</html>
