{% extends "base.html" %}
{% block extrahead %}
<style type="text/css">
    .item_delete{margin:1px 20px 1px 20px;}
</style>
  <script src="/static/backbone_parts/json2.js"></script>
  <script src="/static/backbone_parts/underscore.js"></script>
  <script src="/static/backbone_parts/backbone.js"></script>

<script src="/static/react-15.1.0/build/react.js"></script>
<script src="/static/react-15.1.0/build/react-dom.js"></script>
<script src="/static/react-15.1.0/babel-core_5.8.23_browser.min.js"></script>
<script src="/static/backbone_parts/react.backbone.js"></script>
<script>
  $.ajaxSetup({
  data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
  });
</script>
<script src="/static/react-15.1.0/marked_0.3.5_marked.min.js"></script>
<script type="text/babel">
var myglobal={start:0,limit:5,total:0,search:""};
var Item= Backbone.Model.extend({
  urlRoot : "/rest/Item/",
  defaults: function() {
    return {
      id:undefined,name:'',guige:'',bh:'',danwei:''
    };
  }
});
var ItemList = Backbone.Collection.extend({
  model: Item,
  url : "/rest/Item/",
  parse: function(data, options) {
    console.log("parse response");
    myglobal.total=data.total;
    return data.data;
  }
});
var ItemViewComponent = React.createBackboneClass({
  changeOptions: "change:name", // DEFAULT is "change",
  handleDelete:function(){
    var model=this.getModel();
    var data={}
    data.id=model.get("id");
    data= JSON.stringify(data);
    model.destroy({ data:data,contentType:"application:json"}); //this.props.onItemDelete(this.getModel());
  },
  handleEdit:function(){
    console.log("edit");
    this.props.onItemEdit(this.getModel());
  },
    render: function() {
        return (
          // <div>
          //     <h1>{this.getModel().get("name")}</h1>
          // </div>
          <tr><td>{this.getModel().get("id")}</td><td>{this.getModel().get("bh")}</td><td><h5>{this.getModel().get("name")}</h5></td><td><h5>{this.getModel().get("guige")}</h5></td><td>{this.getModel().get("danwei")}</td><td><a className="item_edit" onClick={this.handleEdit}>edit</a><a className="item_delete" onClick={this.handleDelete}>delete</a></td></tr>
        );
    }
});
var ItemsListViewComponent = React.createBackboneClass({
    componentDidMount: function() {
      console.log("ItemsListViewComponent did mount");  
      var itemsList = this.getCollection();
      console.log(myglobal);
      console.log("start="+myglobal.start);
      itemsList.fetch({
         reset:true,
         data: { start:myglobal.start,limit:myglobal.limit,query:this.state.search},
         success:function(data){
              // console.log(itemsList.length+" items")
              // console.log(data);
              // myglobal.total=data.total;
         },
      });
    },
  handleSearch:function(){
    myglobal.start=0;
    this.componentDidMount();    
  },
  handleSearchChange:function(e){
     this.setState({search: e.target.value});
  },    
  handlePrev:function(){
    console.log("prev");
     myglobal.start=myglobal.start-myglobal.limit;
     if(myglobal.start<0) myglobal.start=0;
     this.componentDidMount();
  },
  handleNext:function(){
    console.log("next");
    myglobal.start=myglobal.start+myglobal.limit;
    console.log("start="+myglobal.start);
    if(myglobal.start>myglobal.total-myglobal.limit) myglobal.start=myglobal.total-myglobal.limit;
    this.componentDidMount();    
  },
  handleItemEdit  :function(data_out){
    console.log("item_edit in itemlist");
    console.log(data_out);
    var model=data_out;
    //this._itemform.getModel().set(model.attributes);
    this._itemform.props.model=model;//readonly
  },
  handleItemDelete:function(data_out){
    console.log("item_delete in box");
    console.log(data_out);
    //data_out.destroy();
    var model=data_out;
    var data={}
    data.id=data_out.get("id");
    data= JSON.stringify(data);
    model.destroy({ data:data,contentType:"application:json"});
  },
  handleItemSubmit: function(item) {
    console.log("item submit");
    console.log(item);
    item.save(null,{
        success:function(context, model, resp, options){
          console.log(options);
          console.log("save finish");
          //model.set(resp.success.arguments[0].data);
          console.log(model.data);
          context.set(model.data);
        }
      });
  },
  getInitialState: function() {
    return {search:""};
  },
  render: function() {
    //this._itemform = null;
        var self=this;
        var itemsList = this.getCollection().map(function(item) {
            return <ItemViewComponent model={item} key={item.get("id")} onItemEdit={self.handleItemEdit}/>;
        });
        return (
          <div>
          <h4>备件</h4>
        <p>
          <input type="text" id="id_input_search"  placeholder="编号 or 名称" value={this.state.search} onChange={this.handleSearchChange}></input>
          <button id="id_bt_search" onClick={this.handleSearch}>search</button>
        </p>
          <table className="itemList table-bordered"><tbody>
      <tr><td>id</td><td>编号</td><td><h5>名称</h5></td><td><h5>规格</h5></td><td>单位</td><td>actions</td></tr>
        {itemsList}
      </tbody>
      </table>
      <p>
          <button onClick={this.handlePrev}>前一页</button><button  onClick={this.handleNext}>后一页</button>
      </p>
      <ItemFormComponent onItemSubmit={this.handleItemSubmit} model={new Item()}  ref={function(ref) {self._itemform = ref;}}/>
      </div>
        );
  }
});
var ItemFormComponent = React.createBackboneClass({
  // getInitialState: function() {
  //   return {name: '', guige: '',bh:'',danwei:''};
  // },
  handleNameChange: function(e) {
    //this.setState({name: e.target.value});
    this.getModel().set({name:e.target.value})
  },
  handleTextChange: function(e) {
    this.getModel().set({guige: e.target.value});
  },
  handleBhChange: function(e) {
    this.getModel().set({bh: e.target.value});
  },
  handleDanweiChange: function(e) {
    this.getModel().set({danwei: e.target.value});
  },
  handleSubmit: function(e) {
    e.preventDefault();

   //  var name = this.state.name.trim();
   //  var guige = this.state.guige.trim();
   //  var bh=this.state.bh.trim();
   //  var danwei=this.state.danwei.trim();
   //  if (!guige || !name) {
   //    return;
   //  }
   this.props.onItemSubmit(this.getModel());
   // this.setState({id:undefined,name: '', guige: '',bh:'',danwei:''});
  },
  render: function() {
    return (
      <form className="itemForm" onSubmit={this.handleSubmit}>
      <table><tbody>
      <tr>
              <td>id</td>
              <td>
                <input
                  type="text"
                  placeholder="id"
                  value={this.getModel().get("id")}
                  readonly="true"
                ></input>
                </td>
       </tr>
      <tr>
              <td>bh</td>
              <td>
                <input
                  type="text"
                  placeholder="bh"
                  value={this.getModel().get("bh")}
                  onChange={this.handleBhChange}
                ></input>
                </td>
       </tr>
      <tr>
                <td>name</td>
                <td>
                  <input
                    type="text"
                    placeholder="name"
                    value={this.getModel().get("name")}
                    onChange={this.handleNameChange}
                  ></input>
                  </td>
        </tr>
        <tr>
                  <td>guige</td>
                  <td>
                  <input
                    type="text"
                    placeholder="Say something..."
                    value={this.getModel().get("guige")}
                    onChange={this.handleTextChange}
                  ></input>
                  </td>
        </tr>
        <tr>
                <td>danwei</td>
                <td>
                <input
                  type="text"
                  placeholder="Say something..."
                  value={this.getModel().get("danwei")}
                  onChange={this.handleDanweiChange}
                ></input>
                </td>
        </tr>
        </tbody></table>
        <input type="submit" value="save" />
      </form>
    );
  }
});
var itemsList = new ItemList();
var ItemsListView = React.createFactory(ItemsListViewComponent);
var itemsListView = ItemsListView({collection: itemsList});
ReactDOM.render(itemsListView, document.getElementById('items'));
</script>
{% endblock %}
{% block content %}
  <div id="items"></div>
{% endblock %}