{% extends "base.html" %}
{% block content %}
<p align="center">现在北京时间是{{ mynow }}</p>
<div>
<p><a href="/static/jscalendar-1.0/index.html">jscalendar</a></p>
<p><a href="/static/DataTables-1.9.4/examples/index.html">datatabels</a></p>
<p><a href="/static/editor/examples/index.html">editor</a></p>
<p><a href="/static/elfinder-2.x/elfinder.src.html">elfinder</a></p>
<p><a href="/static/jquery-ui-1.10.3.custom/index.html">jquery ui</a></p>
<p><a href="/static/w2ui-master/demos/index.html">w2ui</a></p>
</div>
{% endblock %}
