.modal-600px {
    width: 600px;
    max-width: none !important;
}
.custom-modal{
    width: 600px;
    max-width: none !important;
}
.modal-1000px{
    width: 1000px;
    max-width: none !important;
}
.modal-900px{
    width: 900px;
    max-width: none !important;
}
.modal-700px{
    width: 700px;
    max-width: none !important;
}
.modal-800px{
    width: 800px;
    max-width: none !important;
}