{% extends "../base.html" %} {% block extrahead %}
<link type="text/css" rel="stylesheet" href="/static/jquery-ui-1.11.4.custom/jquery-ui.min.css" />
<script type="text/javascript" src="/static/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf-8">
    $(function () {
        console.log("document ready");
        var cache = {};
        $("#namefrom").autocomplete({
                minLength: 1
                , focus: function (event, ui) {
                    //$( "#new_pack1" ).val( ui.item.value);
                    return false;
                }
                , select: function (event, ui) {
                    $( "#namefrom" ).val( ui.item.name);
                    $( "#idfrom" ).val( ui.item.id );
                    return false;
                }
                , source: function (request, response) {
                    var term = request.term;
                    request={search:term}
                    if (term in cache) {
                        data = cache[term];
                        response(data);
                        return;
                    }
                    $.getJSON("/rest/Pack", request, function (data, status, xhr) {
                        cache[term] = data.data;
                        response(data.data);
                    });
                }
            })
            .autocomplete("instance")._renderItem = function (ul, item) {
                return $("<li>")
                    .append("<a>" + item.id + "_" + item.name + "</a>")
                    .appendTo(ul);
            };
        console.log("here");

    });
</script>
{% endblock %} {% block content %}
<div id="dialog" title="选择包"></div>
<div id="csrf_token" value={{ csrf_token }}>
    <div>
        <form method="post" action="/parts/copypack/">
            <table>
                 <tr>
                    <td>
                        <label for="id_from">id:</label>
                    </td>
                    <td>
                        <input id="idfrom" readonly="true" type="text" id="oldid" class="vTextField required" name="oldid" size="5" value="" maxlength="30" />
                        <!-- <button id="buttonfrom" type="button"><img src="/static/images/add.gif"></img></button> -->
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="id_from">包名称:</label>
                    </td>
                    <td>
                        <input id="namefrom" placeholder="至少输入两个字符" type="text" id="oldname" class="vTextField required" name="oldname" size="15" value="" maxlength="30" />
                        <!-- <button id="buttonfrom" type="button"><img src="/static/images/add.gif"></img></button> -->
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="id_to">新包名称:</label>
                    </td>
                    <td>
                        <input id="nameto" type="text" id="newname" class="vTextField required" name="newname" size="15" value="" maxlength="30" />
                        <!--button id="buttonto" type="button"><img src="/static/images/add.gif"></img></button -->
                    </td>
                </tr>
            </table>
            <input type="submit" value="复制" />
        </form>
        {% endblock %}