{% extends "../base.html" %} {% block extrahead %}
{% endblock %} {% block content %}
<table class="table-striped table-condensed table-bordered table-hover">
    <thead>
        <td>编号</td>
        <td>名称</td>
        <td>图片</td>
        <td>英文名称</td>
    </thead>
    <tbody>
        {% for c in items %}
        <tr>
            <td>{{ c.bh }}</td>
            <td>{{ c.name }}</td>
            <td><img src="/media/{{ c.image }}"  alt="{{ c.image }}" width="100" height="100"></td>
            <td>{{ c.name_en }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>
    <div class="pagination">
        <span class="step-links">
        {% if pageinfo.has_previous %}
            <a href="?page={{ pageinfo.previous_page_number }}">前一页</a>
        {% endif %}

        <span class="current">
            第{{ pageinfo.number }}页,共{{ pageinfo.num_pages }}页
        </span> {% if pageinfo.has_next %}
        <a href="?page={{ pageinfo.next_page_number }}">后一页</a> {% endif %}
        </span>
    </div>
</p>
{% endblock %} 